transformers==4.46.1
datasets==2.16.1
accelerate==0.26.0
jieba
fuzzywuzzy
rouge
loguru
evaluate
rouge_score

html2text
bs4
nltk
Cython
nemo-toolkit[all]==2.0.0 --no-deps
hydra-core==1.3.2
pytorch-lightning==2.4.0
wrapt
wget
onnx
lhotse
sentencepiece
jiwer
numba
librosa
text-unidecode
pyannote.core
pyannote.metrics
editdistance
huggingface_hub
wonderwords
flask
flask_restful
webdataset
tenacity
